# Define how to handle CGI
cgi {
	cgi_add ["rb", "ruby"] ["/bin/ruby"]
}

# Defines MIME types 
mime {
	mime_add ["js"] "text/javascript"
	mime_add ["css"] "text/css"
	mime_add ["html"] "text/html"
	mime_add ["rb"] "application/x-ruby"
}

# ALPHA server
server {
	port 4242
	server_names ["alpha"]

	error_page 403 "error_pages/403.html"
	error_page 404 "error_pages/404.html"
	error_page 405 "error_pages/405.html"

	root "/var/www"

	route "/" {
		auto_index
		methods ["GET"]
	}

	route "/index" {
		index "index-alpha.html"
	}

	#route "/redirect/index" {
	#	redirect "/index"
	#}

	#route "/redirect/search" {
	#	redirect "http://www.google.com"
	#}

	route "/files" {
		auto_index
		methods ["GET"]
	}

	route "/upload" {
		methods ["POST"]
		enable_cgi
		index "/cgi-bin/form-upload.rb"
	}

	route "/delete" {
		methods ["DELETE"]
		enable_cgi
		index "/cgi-bin/form-delete.rb"
	}
}

# BETA server
server {
	port 4242
	server_names ["beta"]

	error_page 403 "error_pages/403.html"
	error_page 404 "error_pages/404.html"
	error_page 405 "error_pages/405.html"

	root "/var/www"

	route "/index" {
		index "index-beta.html"
	}

	#route "/limit-methods" {
	#	methods ["GET", "HEAD"]
	#}

	#route "/limit-body" {
	#	max_body_size 100;
	#}
}

# GAMMA server
server {
	port 8888
	server_names ["alpha"]

	error_page 403 "error_pages/403.html"
	error_page 404 "error_pages/404.html"
	error_page 405 "error_pages/405.html"

	root "/var/www"

	route "/index" {
		index "index-gamma.html"
	}
}
